<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Casais</string>
	<string>Intercessão</string>
	<string>Jovens</string>
	<string>Homens</string>
	<string>Mulheres</string>
	<string>Melhor idade</string>
	<string>Crianças</string>
	<string>Adolescentes</string>
	<string>Pastoreio</string>
	<string>Prebiterato</string>
	<string>Diaconato</string>
	<string>Evangelismo</string>
	<string>Pregação</string>
	<string>Louvor</string>
</array>
</plist>
